.header {
    position: absolute;
    height: 61px;
    left: 0%;
    right: 0%;
    top: 0px;
}

.acc-f {
    position: absolute;
    height: 44px;
    left: 87.45%;
    right: 1.67%;
    top: 8.5px;
}

.acc {
    position: absolute;
    height: 44px;
    left: -0.16%;
    right: 15.3%;
    top: 0.5px;
    border-radius: 44px;
}

.text-acc {
    position: absolute;
    height: 18px;
    left: 18.8%;
    right: 18.8%;
    top: 13px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    letter-spacing: 1.96px;
    text-transform: uppercase;
    color: #011F3A;
}

.head {
    position: absolute;
    width: 706.91px;
    height: 44px;
    left: 22.96%;
    right: 27.95%;
    top: 8.5px;
}

.insp {
    position: absolute;
    height: 44px;
    left: 59.18%;
    right: 18.47%;
    top: 0.5px;
    border-radius: 44px;
}

.insp-text {
    position: absolute;
    height: 18px;
    left: 15.82%;
    right: 15.82%;
    top: 13px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    letter-spacing: 1.96px;
    text-transform: uppercase;
    color: #011F3A;
}

.start {
    position: absolute;
    width: 245px;
    height: 44px;
    left: 0.05%;
    right: 65.3%;
    top: 0.5px;
}

.pre-start-text {
    position: absolute;
    height: 18px;
    left: 22.04%;
    right: 8.16%;
    top: 13px;
}

.start-text {
    position: absolute;
    height: 18px;
    left: 0%;
    right: 0.58%;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    letter-spacing: 1.96px;
    text-transform: uppercase;
    color: #011F3A;
}

.out-line {
    position: absolute;
    height: 1px;
    left: -0.58%;
    right: 3.51%;
    top: 18px;
    background: #011F3A;
    border-radius: 0px;
}

.star {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 10.2%;
    right: 83.27%;
    top: 14px;
    border-radius: 0px;
}

.abt {
    position: absolute;
    height: 44px;
    left: 81.53%;
    right: -0.06%;
    top: 0.5px;
}

.abt-text {
    position: absolute;
    height: 18px;
    left: 19.08%;
    right: 37.4%;
    top: 13px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    letter-spacing: 1.96px;
    text-transform: uppercase;
    color: #011F3A;
}

.strelochka {
    position: absolute;
    left: 14.64%;
    right: 14.64%;
    top: 35.36%;
    bottom: 29.29%;
    opacity: 0.3;
}

.product {
    position: absolute;
    height: 44px;
    left: 34.7%;
    right: 40.68%;
    top: 0.5px;
}

.product-text {
    position: absolute;
    height: 18px;
    left: 14.37%;
    right: 14.37%;
    top: 13px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    letter-spacing: 1.96px;
    text-transform: uppercase;
    color: #011F3A;
}

.logo {
    position: absolute;
    width: 85px;
    height: 24px;
    left: 1.67%;
    right: 92.43%;
    top: 19px;
    background: url();
    border-radius: 0px;
}